<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>snapshot-app</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snapshot</string>
				<string>org.snapshot</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>argent</string>
		<string>metamask</string>
		<string>gnosissafe</string>
		<string>cryptowallet</string>
		<string>pillarwallet</string>
		<string>imtokenv2</string>
		<string>ontoprovider</string>
		<string>tpoutside</string>
		<string>mathwallet</string>
		<string>bitpay</string>
		<string>ledgerlive</string>
		<string>dharma</string>
		<string>1inch</string>
		<string>huobiwallet</string>
		<string>eidoo</string>
		<string>mykeywalletconnect</string>
		<string>coin98</string>
		<string>dcent</string>
		<string>zel</string>
		<string>nash</string>
		<string>cybavowallet</string>
		<string>safepalwallet</string>
		<string>easypocket</string>
		<string>sparkpoint</string>
		<string>bitkeep</string>
		<string>peakdefiwallet</string>
		<string>moneyunstoppable</string>
		<string>halodefiwallet</string>
		<string>ellipal</string>
		<string>keyring</string>
		<string>aktionariat</string>
		<string>talken-wallet</string>
		<string>flare</string>
		<string>kyberswap</string>
		<string>atoken</string>
		<string>tongue</string>
		<string>rwallet</string>
		<string>plasmapay</string>
		<string>o3wallet</string>
		<string>hashme</string>
		<string>defiantapp</string>
		<string>celo</string>
		<string>celowallet</string>
		<string>essentials</string>
		<string>fuse.cash</string>
		<string>bitpie</string>
		<string>stasis</string>
		<string>julwallet</string>
		<string>rainbow</string>
		<string>trust</string>
	</array>
</dict>
</plist>
